@import "tailwindcss";

@theme {
  --color-brand-primary: #2563eb;
  --color-surface-bg: #f8fafc;
  --color-surface-card: #ffffff;
  --color-text-main: #0f172a;
  --color-text-muted: #64748b;
}

:root {
  background-color: var(--color-surface-bg);
  color: var(--color-text-main);
  font-family: "Inter", system-ui, sans-serif;
}

/* Biar transisi antar state smooth */
* {
  @apply transition-all duration-200;
}
